<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Project: {{project.name}}</h1>
        {{!-- <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <button class="btn btn-sm btn-outline-secondary">
                    <span data-feather="plus-square"></span>
                    Create New
                </button>
                <button class="btn btn-sm btn-outline-secondary">
                    <span data-feather="upload"></span>
                    Upload
                </button>
            </div>
        </div> --}}
    </div>
    <form>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" name="name" id="name" placeholder="Project name" value="{{project.name}}">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="alias">Alias</label>
                    <input type="text" class="form-control" name="alias" id="alias" placeholder="Project alias" value="{{project.alias}}">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="githubUrl">Github Link</label>
                    <input type="text" class="form-control" name="githubUrl" id="githubUrl" placeholder="Github Link" value="{{project.githubUrl}}">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="tags">Tags</label>
                    <input type="text" class="form-control" name="githubUrl" id="githubUrl" placeholder="Github Link" value="{{#each project.tags}}{{this.name}}, {{/each}}">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea class="form-control" name="description" id="description" rows="10" value="{{project.description}}">{{project.description}}</textarea>
                </div>
            </div>
        </div>
        {{#if project}}
            <button type="submit" class="btn btn-primary">Update</button>
        {{/if}}
    </form>
</main>