<main role="main">
    <div class="album py-3 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-3 project-detail-sb">
                    {{!--
                    <div class="project-sidebar-block no-top-margin">
                        <h2 class="no-top-margin">Kejiya Rani</h2>
                    </div>
                    <hr> --}}

                    <div class="project-sidebar-block no-top-margin">
                        <img class="img-fluid" src="/images/kejiya.jpg">
                    </div>
                    <hr>

                    <div class="project-sidebar-block">
                        <h2>Social Profiles</h2>
                        <ul class="social">
                            <li>
                                <a href="https://www.linkedin.com/in/kejiyarani/" title="LinkedIn">
                                    <i class="fab fa-linkedin"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.github.com/kejiya-rani23" title="Github">
                                    <i class="fab fa-github-square"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/@kejiyarani" title="Twitter">
                                    <i class="fab fa-twitter-square"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/kejiyarani" title="Facebook">
                                    <i class="fab fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://kejiyarani.com">
                                    <i class="fab fa-globe"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <hr>
                    <div class="project-sidebar-block">
                        <h2>About This Project</h2>
                        <ul class="social">
                            <li>
                                <a href="#" title="Node.js">
                                    <i class="fab fa-node-js"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" title="JavaScript">
                                    <i class="fab fa-js-square"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" title="HTML5">
                                    <i class="fab fa-html5"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" title="CSS3">
                                    <i class="fab fa-css3"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" title="Linux">
                                    <i class="fab fa-linux"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <hr>

                    <div class="project-sidebar-block">
                        <h2>Resources</h2>
                        <div class="project-sidebar-links">
                            {{#each project.relatedProjects}}
                            <div class="project-sidebar-links">
                                <a href="/projects/{{link}}" class="bc-item">{{name}}</a>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                </div>

                <div class="col-md-9">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item bc-item">
                                <a href="/">Home</a>
                            </li>
                            <li class="breadcrumb-item bc-item">
                                <a href="/contact">Contact</a>
                            </li>
                            <li class="breadcrumb-item" aria-current="page">Thank You</li>
                        </ol>
                    </nav>
                    <div class="project-sidebar-block">
                        <div class="alert alert-success" role="alert">
                            <h1 class="alert-heading display-1">Thank you!</h1>
                            <br>
                            <hr>
                            <br>
                            <p>
                                We have received your contact information and we will get back to at the earliest. The inputs we received from you are as listed below:
                            </p>
                            <br>
                            <hr>
                            <br>
                            <p class="mb-0">
                                <b>Name:</b> {{data.name}}
                            </p>
                            <p class="mb-0">
                                <b>Email:</b> {{data.email}}
                            </p>
                            <p class="mb-0">
                                <b>Mobile:</b> {{data.mobile}}
                            </p>
                            <p class="mb-0">
                                <b>Description:</b> {{data.description}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>